:root {
  --primary-text-color: #2e2520;
  --secondary-text-color: #000000;
  --primary-bcg-color: #fef3e4;
  --secondary-bcg-color: #e5e5e5;
  --form-bcg-color: #fffff9;
  --buttom-bcg-color: #ab816c;
  --white-color: #ffffff;
  --decoration-line-color: rgba(171, 129, 108, 0.5);
}
