<section class="contact">
  <div class="container">
    <h2 class="section-title list">Contact</h2>
    <h3 class="contact__text list">We will answer any question!</h3>

    <form class="contact__form">
      <label class="contact__form-title">
        <input
          class="form-title"
          type="email"
          name="email"
          placeholder="Email"
        />
      </label>

      <label class="contact__form-title">
        <textarea name="question" placeholder="Type your question"></textarea>
      </label>
    </form>
    <button class="contact__btn" type="submit">Send</button>
  </div>
</section>
