<footer class="footer">
  <div>
    <ul class="social">
      <li>
        <a class="social__link" href="" target="_blank" aria-label="Twitter">
          <!-- <svg class="social__icon" width="16" height="16">
            <use href=""></use>
          </svg> -->
        </a>
      </li>

      <li>
        <a class="social__link" href="" target="_blank" aria-label="Instagram">
          <!-- <svg class="social__icon" width="16" height="16">
            <use href=""></use>
          </svg> -->
        </a>
      </li>

      <li>
        <a class="social__link" href="" target="_blank" aria-label="Facebook">
          <!-- <svg class="social__icon" width="16" height="16">
            <use href=""></use>
          </svg> -->
        </a>
      </li>
    </ul>
  </div>
  <address>
    <ul class="contact-nav list">
      <li class="contact-nav__item">
        <a href="tel:+1(910)222-8855" class="contact-nav__icon">
          <!-- <svg class="" width="13" height="13">
            <use href=""></use>
          </svg> -->
          (910)222-8855</a
        >
      </li>

      <li class="contact-nav__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="contact-nav__icon"
        >
          <!-- <svg class="" width="11" height="14">
            <use href=""></use>
          </svg> -->
          New York</a
        >
      </li>
    </ul>
  </address>
</footer>
