<footer class="footer container">
  <div class="section">
    <ul class="social list">
      <li>
        <a class="social__link" href="" target="_blank" aria-label="Twitter">
          <svg class="social__icon" width="16" height="16">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social__link" href="" target="_blank" aria-label="Instagram">
          <svg class="social__icon" width="16" height="16">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social__link" href="" target="_blank" aria-label="Facebook">
          <svg class="social__icon" width="16" height="16">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <address>
      <ul class="contact-nav list">
        <li class="contact-nav__item">
          <a href="tel:+1(910)222-8855" class="contact-nav__icon link">
            <svg class="" width="13" height="13">
              <use href="./images/sprite.svg#phone"></use>
            </svg>
            (910)222-8855</a
          >
        </li>

        <li class="contact-nav__item">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="contact-nav__icon link"
          >
            <svg class="" width="11" height="14">
              <use href="./images/sprite.svg#location"></use>
            </svg>
            New York</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
