<header class="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__nav-wrapper">
        <div class="header__logo-wrapper">
          <img class="header__logo logo" src="./images/logo/logo.svg" />
        </div>

        <ul class="header__nav-list list">
          <li class="header__nav-item">
            <a href="#" class="header__nav-link link">About us</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link link">Program</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__link link">Speakers</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link link">Price</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link link">Reviews</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link link">Contacts</a>
          </li>
        </ul>
      </div>

      <h1 class="header__title section-title">
        Donut Masterclass with the Donut King
      </h1>
      <h2 class="header__subtitle">Hosted by Eva Green</h2>
      <a href="#page-1" class="register-btn">Register</a>

      <ul class="socials list">
        <li class="socials__item">
          <a class="socials__link social__link" href="./">
            <svg class="socials__logo" width="16" height="16">
              <use href="./images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>

        <li class="social-link">
          <a class="socials__link social__link" href="./">
            <svg class="socials__logo" width="16" height="16">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social-link">
          <a class="socials__link social__link" href="./">
            <svg class="socials__logo" width="16" height="16">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button
      type="button"
      class="header__menu-btn"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        class="header__btn-icon"
        width="30"
        height="20"
        aria-label="Перемикач мобільного меню"
      >
        <use class="burger" href="./images/sprite.svg#burger"></use>
        <use class="cross" href="./images/sprite.svg#cross"></use>
      </svg>
    </button>
  </div>
</header>
