<!-- Prise -->
<section class="price conteiner">
    <h2 class="price_heading">Prise</h2>
    <div class="price_content">
    <div class="price_block">
        <h3 class="price_title">Easy start</h3>
        <ul class="price_list list">
            <li class="price_text"></li>
            <li class="price_text">-features of yeast dough preparation</li>
            <li class="price_text">-preparation of liquid caramel
                for stuffing</li>
            <li class="price_text">-preparation of raspberry and strawberry filling</li>
            <li class="price_text">-fry and glaze donuts</li>
        </ul>
        <button class="prise_btn">Register</button>
    </div>
    <div class="price_block">
        <h3 class="price_title">I want delicious donuts</h3>
        <ul class="price_list list">
            <li class="price_text">-features of yeast dough preparation</li>
            <li class="price_text">-preparation of liquid caramel
                for stuffing</li>
            <li class="price_text">-preparation of raspberry and strawberry filling</li>
            <li class="price_text">-melt chocolate for decoration</li>
            <li class="price_item">-fry and glaze donuts</li>
            <li class="price_item">-donut decoration. painting and various techniques</li>
            <li class="price_item">-After party and donut tasting with speakers</li>
            <li class="price_item">-2 private lessons with one of the speakers</li>
        </ul>
        </ul>
        <button class="prise_btn">Register</button>
    </div>
    <div class="price_block">
        <h3 class="price_title">Premium</h3>
        <ul class="price_list list">
            <li class="price_text"></li>
            <li class="price_text">-features of yeast dough preparation</li>
            <li class="price_text">-preparation of liquid caramel
                for stuffing</li>
            <li class="price_text">-preparation of raspberry and strawberry filling</li>
            <li class="price_text">-fry and glaze donuts</li>
        </ul>
        <button class="prise_btn">Register</button>
    </div>
    </div>
</section>