<section class="program section" id="program">
  <div class="program__container container">
    <div class="program__text">
      <h2 class="program__title section-title">Program</h2>
      <p class="program__descr">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__promo-list list">
        <li class="program__promo-item">
          <span class="program__item-text"> A stand up history of donuts </span>
        </li>
        <li class="program__promo-item">
          <span class="program__item-text">
            Make 3 donut flavors of your choice
          </span>
        </li>
        <li class="program__promo-item">
          <span class="program__item-text"> Enjoy all-you-can-eat donuts </span>
        </li>
        <li class="program__promo-item">
          <span class="program__item-text">
            Cocktail pairings and coffee included
          </span>
        </li>
        <li class="program__promo-item">
          <span class="program__item-text">
            Photoshoot by professional photographer
          </span>
        </li>
        <li class="program__promo-item">
          <span class="program__item-text">
            Secret receipt of cooking from Eva
          </span>
        </li>
        <li class="program__promo-item">
          <span class="program__item-text"
            >All products are included in the price</span
          >
        </li>
      </ul>
      <p class="program__invitation" data-text>
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>

      <button class="about__btn prog__btn" type="button" data-btn-more>
        <span data-text-more>Read more</span>
        <span class="is-hidden" data-text-less >Less</span>
      </button>
    </div>

    <div class="program__data">
      <ul class="program__list list">
        <li class="program__item">
          <h3 class="program__item-title">Type of the event</h3>
          <p class="program__item-parametr">Cooking classes</p>
          <svg class="program__item-icon" width="19" height="19">
            <use href="./images/sprite.svg#chef-hat"></use>
          </svg>
        </li>
        <li class="program__item">
          <h3 class="program__item-title">Number of guests</h3>
          <p class="program__item-parametr">1 to 20</p>
          <svg class="program__item-icon" width="19" height="19">
            <use href="./images/sprite.svg#humans"></use>
          </svg>
        </li>
        <li class="program__item">
          <h3 class="program__item-title">Time of the event</h3>
          <p class="program__item-parametr">18:30 (2.5 hours)</p>
          <svg class="program__item-icon" width="19" height="19">
            <use href="./images/sprite.svg#watch"></use>
          </svg>
        </li>
        <li class="program__item">
          <h3 class="program__item-title">The host speaks</h3>
          <p class="program__item-parametr">English, French</p>
          <svg class="program__item-icon" width="19" height="19">
            <use href="./images/sprite.svg#think-cloud"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
