<section class="registration container">
  <h2 class="registration_heading">Registration</h2>
  <div class="registration_content">
    <p class="registration_text">
      May 23,<br />
      11:00<br />
      New York
    </p>
    <div class="registration_block">
      <h3 class="registration_title">
        Apply your personal info<br />
        for registration
      </h3>
      <form class="registration_form" action="">
        <label class="registration_lebel">
          <input
            class="registration_input"
            type=""
            name=""
            placeholder="Your name"
            autofocus
            minlength="6"
            maxlength="12"
            required
          />
        </label>
        <label class="registration_lebel">
          <input
            class="registration_input"
            type=""
            name=""
            placeholder="Phone number"
            autofocus
            minlength="6"
            maxlength="12"
            required
          />
        </label>
        <label class="registration_lebel">
          <input
            class="registration_input"
            type=""
            name=""
            placeholder="Email"
            autofocus
            minlength="6"
            maxlength="12"
            required
          />
        </label>
      </form>
    </div>
    <button class="registration_btn">Register</button>
  </div>
</section>
