<section class="registration" id="page-1">
  <div class="registration-mobile container">
    <h2 class="registration-mobile__heading">Registration</h2>
    <h3 class="registration-mobile__text">May 23, 11:00<br />New York</h3>
    <div class="registration-mobile__block">
      <h3 class="registration-mobile__title">
        Apply your personal info<br />
        for registration
      </h3>
      <form class="registration-mobile__form" action="">
        <label class="registration-mobile__lebel">
          <input
            class="registration-mobile__input"
            type="text"
            name=""
            placeholder="Your name"
            minlength="6"
            maxlength="12"
            required
          />
        </label>
        <label class="registration-mobile__lebel">
          <input
            class="registration-mobile__input"
            type="tel"
            name=""
            placeholder="Phone number"
            minlength="6"
            maxlength="12"
            required
          />
        </label>
        <label class="registration-mobile__lebel">
          <input
            class="registration-mobile__input"
            type="email"
            name=""
            placeholder="Email"
            minlength="6"
            maxlength="12"
            required
          />
        </label>
      </form>
    </div>
    <button class="registration-mobile__btn" type="button">Register</button>
  </div>
  <!-- desktop -->
  <div class="registration__main container">
    <h2 class="registration_heading">Registration</h2>
    <div class="registration_content">
      <p class="registration_text">
        May 23,<br />
        11:00<br />
        New York
      </p>
      <div class="registration_block">
        <h3 class="registration_title">
          Apply your personal info<br />
          for registration
        </h3>
        <form class="registration_form" action="">
          <label class="registration_lebel">
            <input
              class="registration_input"
              type=""
              name=""
              placeholder="Your name"
              minlength="6"
              maxlength="12"
              required
            />
          </label>
          <label class="registration_lebel">
            <input
              class="registration_input"
              type=""
              name=""
              placeholder="Phone number"
              minlength="6"
              maxlength="12"
              required
            />
          </label>
          <label class="registration_lebel">
            <input
              class="registration_input"
              type=""
              name=""
              placeholder="Email"
              minlength="6"
              maxlength="12"
              required
            />
          </label>
        </form>
      </div>
      <button class="registration_btn" type="button">Register</button>
    </div>
  </div>
</section>
