<section class="registration" id="page-1">
  <div class="registration-mobile container">
    <h2 class="registration-mobile__heading">Registration</h2>
    <h3 class="registration-mobile__text">May 23, 11:00<br />New York</h3>
    <div class="registration-mobile__block">
      <h3 class="registration-mobile__title">
        Apply your personal info<br />
        for registration
      </h3>
      <form class="registration-mobile__form">
        <label class="registration-mobile__lebel">
          <input
            class="registration-mobile__input"
            type="text"
            placeholder="Your name"
            minlength="6"
            maxlength="12"
            required
          />
        </label>
        <label class="registration-mobile__lebel">
          <input
            class="registration-mobile__input"
            type="number"
            placeholder="Phone number"
            required
          />
        </label>
        <label class="registration-mobile__lebel">
          <input
            class="registration-mobile__input"
            type="email"
            placeholder="Email"
            minlength="6"
            maxlength="12"
            required
          />
        </label>
        <button class="registration-mobile__btn" type="submit">Register</button>
      </form>
    </div>
  </div>
  <!-- desktop -->
  <div class="registration__main container">
    <h2 class="registration_heading">Registration</h2>
    <div class="registration_content">
      <p class="registration_text">
        May 23,<br />
        11:00<br />
        New York
      </p>
      <div class="registration_block">
        <h3 class="registration_title">
          Apply your personal info<br />
          for registration
        </h3>
        <form class="registration_form">
          <div class="registration-mobile__form--list">
            <label class="registration_lebel">
              <input
                class="registration_input"
                type="text"
                placeholder="Your name"
                minlength="6"
                maxlength="12"
                required
              />
            </label>
            <label class="registration_lebel">
              <input
                class="registration_input"
                type="number"
                placeholder="Phone number"
                required
              />
            </label>
            <label class="registration_lebel">
              <input
                class="registration_input"
                type="email"
                placeholder="Email"
                minlength="6"
                maxlength="12"
                required
              />
            </label>
          </div>
          <button class="registration_btn" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
