<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__container">
      <article class="reviews__slider">
        <picture class="reviews__picture">
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/reviews/img-3_lg.png    1x,
              ./images/reviews/img-3_lg@2x.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/reviews/img-3_md.png    1x,
              ./images/reviews/img-3_md@2x.png 2x
            "
          />
          <source
            media="(max-width:480px)"
            srcset="
              ./images/reviews/img-1_sm.png    1x,
              ./images/reviews/img-1_sm@2x.png 2x
            "
          />

          <img
            class="img-wills"
            src="./images/reviews/img-1_sm.png"
            alt="Will's review "
          />
        </picture>
        <div class="reviews__icon--down">
          <svg width="136" height="24">
            <use href="./images/icons/symbol-defs.svg#icon-starsratestar"></use>
          </svg>
        </div>
        <h2 class="reviews__name">Will</h2>
      </article>

      <article class="reviews__slider hidden">
        <picture class="reviews__picture--hidden">
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/reviews/img-2_lg.png    1x,
              ./images/reviews/img-2_lg@2x.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/reviews/img-2_md.png    1x,
              ./images/reviews/img-2_md@2x.png 2x
            "
          />

          <img
            class="img-wills"
            src=" ./images/reviews/img-2_md.png "
            alt="Will's review"
          />
        </picture>

        <div class="reviews__icon--down">
          <svg width="136" height="24">
            <use href="./images/icons/symbol-defs.svg#icon-starsratestar"></use>
          </svg>
        </div>
        <h2 class="reviews__name">Elisabeth</h2>
        <p class="reviews__text--hidden">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>

      <article class="reviews__slider">
        <picture class="reviews__picture">
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/reviews/img-3_lg.png    1x,
              ./images/reviews/img-3_lg@2x.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/reviews/img-3_md.png    1x,
              ./images/reviews/img-3_md@2x.png 2x
            "
          />
          <source
            media="(max-width:480px)"
            srcset="
              ./images/reviews/img-1_sm.png    1x,
              ./images/reviews/img-1_sm@2x.png 2x
            "
          />

          <img
            class="img-wills"
            src="./images/reviews/img-1_sm.png"
            alt="Will's review "
          />
        </picture>
        <div class="reviews__icon--down">
          <svg width="136" height="24">
            <use href="./images/icons/symbol-defs.svg#icon-starsratestar"></use>
          </svg>
        </div>
        <h2 class="reviews__name">Will</h2>
      </article>

      <article class="reviews__slider hidden" data-reviews>
        <picture class="reviews__picture--hidden">
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/reviews/img-1_lg.png    1x,
              ./images/reviews/img-1_lg@2x.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/reviews/img-1_md.png    1x,
              ./images/reviews/img-1_md@2x.png 2x
            "
          />

          <img
            class="img-wills"
            src="./images/reviews/img-1_md.png "
            alt="Will's review"
          />
        </picture>

        <div class="reviews__icon--down">
          <svg width="136" height="24">
            <use href="./images/icons/symbol-defs.svg#icon-starsrates"></use>
          </svg>
        </div>
        <h2 class="reviews__name">John</h2>
        <p class="reviews__text--hidden">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>
    </div>
    <div class="text__container">
      <div>
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </div>
      <div>
        <p class="reviews__text">
          As many people will know, while watching Homer Simpson demolish his
          pink frosted donut, you would only think, "this is just merely
          animations". However at Tarabelle, it is a reality. I was impressed
          with the way she explained everything to people. You can be sure you
          will manage to cook a delicious dish even if it is your first time in
          the kitchen!
        </p>
      </div>

      <div>
        <p class="reviews__text">
          Tarabelle donuts coffee & eats restaurant located in uluwatu area.
          This is for donuts lover, which I can say modern development of donuts
          industry. Tarabelle with its creations has made donuts to be more
          attractive and for sure...tasty! Thank you so much for the
          masterclass! Looking forward to the next one and highly recommend it
          to everyone!The food was beyond delicious!
        </p>
      </div>
      <div>
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Good services excellent tasted Very recommended affordable
          price, and really good ambiance, id u find a spot to taking photos
          this is the best one in kuta selatan
        </p>
      </div>
    </div>
  </div>
</section>
