<section class="speakers section">
   <div class="container">
      <h2 class="speakers_title  section-title">Speakers</h2>
      <ul class="speakers_list list">
         <li>
            <img class="speakers_img img"  src="#" alt="Molly Rivera">
            <h3 class="speakers_sub-title">Molly Rivera</h3>
            <p class="speakers_text">Pastry chef, master chocolatier of Spain,</p>
         </li>
         <li>
            <img class="speakers_img img" src="#" alt="Sophia Clark">
            <h3 class="speakers_sub-title">Sophia Clark</h3>
            <p class="speakers_text">Сulinary school pastry chef</p>
         </li>
         <li>
            <img class="speakers_img img" src="#" alt="Isabella Taylor">
            <h3 class="speakers_sub-title">Isabella Taylor</h3>
            <p class="speakers_text">Сonsultant in the art of confectionery</p>
         </li>
         <li>
            <img class="speakers_img img" src="#" alt="Evelyn Miller">
            <h3 class="speakers_sub-title">Evelyn Miller</h3>
            <p class="speakers_text">Master- chocolatier 
               in Spain</p>
         </li>
      </ul>
   </div>
</section>