<section class="speakers section" id="speakers">
   <div class="container speakers-container">
      <h2 class="speakers_title  section-title">Speakers</h2>
      <ul class="speakers_list list">
         <li class="speakers_list-item">
            <picture>
               <source media="(min-width:1280px)"
                  srcset="./images/speakers/img-1_lg.png 1x,
                  ./images/speakers/img-1_lg@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-1_md.png 1x,
                  ./images/speakers/img-1_md@2x.png 2x">

               <source media="(max-width:767px)"
                  srcset="./images/speakers/pic.png 1x,
                  ./images/speakers/pic@2x.png 2x">

               <img  class="speakers_img img" src="./images/speakers/pic.png" alt="Molly Rivera" width="130px" height="130px">
            </picture>
            
            <h3 class="speakers_sub-title">Molly Rivera</h3>
            <p class="speakers_text">Pastry chef, master chocolatier of Spain,</p>
         </li>
         <li class="speakers_list-item">
            <picture>
               <source media="(min-width:1280px)"
                  srcset="./images/speakers/img-2_lg.png 1x,
                  ./images/speakers/img-2_lg@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-2_md.png 1x,
                  ./images/speakers/img-2_md@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-2_sm.png 1x,
                  ./images/speakers/img-2_sm@2x.png 2x">

               <img class="speakers_img img"  src="./images/speakers/img-2_sm@2x.png" alt="Sophia Clark" width="130px">
            </picture>
            <h3 class="speakers_sub-title">Sophia Clark</h3>
            <p class="speakers_text">Сulinary school pastry chef</p>
         </li>
         <li class="speakers_list-item">
            <picture>
               <source media="(min-width:1280px)"
                  srcset="./images/speakers/img-3_lg.png 1x,
                  ./images/speakers/img-3_lg@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-3_md.png 1x,
                  ./images/speakers/img-3_md@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-3_sm.png 1x,
                  ./images/speakers/img-3_sm@2x.png 2x">

               <img class="speakers_img img"  src="./images/speakers/img-3_sm@2x.png" alt="Isabella Taylor" width="130px">
            </picture>
            <h3 class="speakers_sub-title">Isabella Taylor</h3>
            <p class="speakers_text">Сonsultant in the art of confectionery</p>
         </li>
         <li class="speakers_list-item">
            <picture>
               <source media="(min-width:1280px)"
                  srcset="./images/speakers/img-4_lg.png 1x,
                  ./images/speakers/img-4_lg@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-4_md.png 1x,
                  ./images/speakers/img-4_md@2x.png 2x">

               <source media="(min-width:768px)"
                  srcset="./images/speakers/img-4_sm.png 1x,
                  ./images/speakers/img-4_sm@2x.png 2x">

               <img class="speakers_img img"  src="./images/speakers/img-4_sm@2x.png" alt="Evelyn Miller" width="130px">
            </picture>
            <h3 class="speakers_sub-title">Evelyn Miller</h3>
            <p class="speakers_text">Master- chocolatier 
               in Spain</p>
         </li>
      </ul>
   </div>
</section>