.about {
  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 570px;
    height: 532px;
  }
}

.about__img {
  width: 100%;
}

.about__info {
  padding-top: 17px;
}

.about__title {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 8px;

  color: var(--primary-text-color);
}

.about__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 16px;

  color: var(--primary-text-color);
}

.about__text:nth-child(2n) {
  margin-bottom: 25px;
}

.about__text--down {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--primary-text-color);
  display: none;
}

.about__btn {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  color: var(--buttom-bcg-color);
  background-color: var(--white-color);
  border: none;
  display: block;
  padding: 0px;
}
.about__spoon {
  display: none;
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
  }

  .about__info {
    max-width: 336px;
    margin-left: 32px;
    padding-top: 15px;
  }

  .about__title {
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about__container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .about__text,
  .about__text--down {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;

    color: var(--primary-text-color);
  }

  .about__text {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .about__text--down {
    display: block;
    margin-bottom: 0px;
  }

  .about__info {
    max-width: 392px;
    margin-left: 140px;
    margin-right: 0px;
    padding-top: 0px;
  }

  .about__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 30px;
  }

  .about__text--down {
    display: inline;
  }
  .about__btn {
    display: none;
  }

  .about__spoon {
    display: block;
    position: relative;
    z-index: 10;
    left: -130px;
    top: -591px;
    transform-origin: center left;
    transition-duration: 1000ms;
  }

  .about__spoon:hover {
    left: -130px;
    transform: rotate(15deg);
    transition: transform 5000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@media screen and (max-width: 1279px) {
  .about__btn .is-hidden {
    display: none;
  }
  .about__btn {
    cursor: pointer;
    background-color: transparent;
  }
}
