.contact {
    // margin-bottom: 32px;
    text-align: center;
}

.section-title {
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.contact__text {
    margin-bottom: 16px;

    @include FontWSL(400, 16px, 1.25);

    @media screen and (min-width: 1280px) {
        @include FontWSL(400, 18px, 1.22);
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 32px;
}

.contact__form-title input,
textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--buttom-bcg-color);
    width: 280px;
    height: 22px;
    resize: none;
    padding: 0;
    background-color: transparent;
    @include FontWSL(400, 16px, 1.25);

    &::placeholder {
        color: rgba(171, 129, 108, 0.5);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }

    &:not(:placeholder-shown):required:valid {
        border-bottom: 1px solid rgb(32, 247, 47);
    }

    &:not(:placeholder-shown):required:invalid {
        border-bottom: 1px solid #ed6d64;
    }

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 22px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 22px;
    }
}

.contact__btn {
    background: var(--buttom-bcg-color);
    border-radius: 25px;
    border-color: transparent;

    @include FontWSL(400, 18px, 1.27);

    color: var(--white-color);
    width: 145px;
    height: 40px;
    font-family: 'Caveat Brush';

    cursor: pointer;
    margin-bottom: 32px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 1280px) {
        width: 182px;
        height: 45px;
        @include FontWSL(400, 18px, 1.5);
    }
}