.header {
  position: relative;
  padding-top: 16px;
  min-height: 320px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    background-image: url(../images/header/img-1_sm.png);
    background-repeat: no-repeat;
    background-size: 118px 114px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-1_sm@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;
    min-height: 368px;
    padding-top: 24px;
    max-width: 768px;
    justify-content: start;
    background-image: url(../images/header/img-1_md.png);
    background-repeat: no-repeat;
    background-position: top right 102px;
    background-size: 377px 540px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-1_md@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    max-width: 100%;
    height: 1155px;
    padding-top: 46px;
    background-image: url(../images/header/img-1_lg.png);
    background-repeat: no-repeat;
    background-position: top -170px right calc(50% - 320px);
    background-size: 794px 1116px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-1_md@2x.png);
    }
  }

  &__nav-wrapper {
    display: flex;
    gap: 55px;
  }

  &__nav-list {
    display: flex;
    gap: 20px;
    height: fit-content;
    white-space: nowrap;

    @media screen and(max-width:1279px) {
      display: none;
    }
    @media screen and(min-width:1280px) {
      padding-top: 14px;
    }
  }

  &__nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #876655;
    }
  }

  &__menu-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    background: none;
    border: none;
    z-index: 6;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;

    @media screen and(min-width:768px) {
      top: 0;
    }

    @media screen and(min-width:1280px) {
      display: none;
    }

    &__icon:hover,
    &__icon:focus {
      fill: var(--accent-color);
    }

    & .cross {
      display: none;
    }
    &.is-open .cross {
      display: block;
    }
    &.is-open .burger {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      position: relative;
      justify-content: start;
      height: 100%;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;

    @media screen and(min-width:768px) {
      align-items: start;
    }

    @media screen and(min-width:1280px) {
      max-width: 490px;
    }
  }
  &__logo-wrapper {
    display: block;
    height: 50px;
    width: 96px;
    margin-bottom: 16px;
    @media screen and(min-width:768px) {
      margin-bottom: 24px;
    }

    @media screen and(min-width:1280px) {
      width: 158px;
      height: 100%;
      margin-bottom: 0;
      .header__logo {
        width: 158px;
        height: 116px;
      }
    }
    .logo {
      height: auto;
      object-fit: 100% auto;
    }
  }

  &__title {
    max-width: 224px;
    font-family: 'Caveat Brush', sans-serif;
    margin-bottom: 8px;
    @include FontWSL(400, 30px, cal(38 /30));
    color: var(--primary-text-color);
    text-align: start;

    @media screen and(min-width:1280px) {
      @include FontWSL(400, 64px, cal(65 /64));
      max-width: inherit;
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    @include FontWSL(500, 16px, cal(19.5 /16));
    color: var(--primary-text-color);

    @media screen and(min-width:768px) {
      margin-bottom: 20px;
    }

    @media screen and(min-width:1280px) {
      @include FontWSL(500, 24px, cal(29 /24));

      margin-bottom: 40px;
    }
  }

  .register-btn {
    width: 145px;
    height: 40px;
    background-color: var(--buttom-bcg-color);
    color: var(--white-color);
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: Caveat Brush, sans-serif;
    @include FontWSL(400, 18px, cal(22.68 /18));
    margin-bottom: 40px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    @media screen and(min-width:768px) {
      margin-bottom: 20px;
    }
    @media screen and(min-width:1280px) {
      width: 158px;
      height: 45px;
      @include FontWSL(400, 24px, cal(30 /24));
      margin-bottom: 32px;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
  }

  &__nav {
    display: flex;
    gap: 20px;
    @include FontWSL(400, 18, calc(22 / 18));
  }
}
