.header {
  position: relative;
  padding-top: 16px;
  height: 100vh;
  width: 100vw;

  @media screen and (max-width: 767px) {
    background-image: url(../images/header/img-1_sm.png);
    background-repeat: no-repeat;
    background-size: 118px 114px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-1_sm@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;

    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    height: 100vh;
    background-image: url(../images/header/img-1_md.png);
    background-repeat: no-repeat;
    background-position: top right 102px;
    background-size: 377px 553px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-1_md@2x.png);
    }
  }

  &__menu-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    background: none;
    border: none;
    z-index: 6;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;

    @media screen and(min-width:768px) {
      top: 0;
    }

    &__icon:hover,
    &__icon:focus {
      fill: var(--accent-color);
    }

    & .cross {
      display: none;
    }
    &.is-open .cross {
      display: block;
    }
    &.is-open .burger {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      position: relative;
      justify-content: start;
      height: 100%;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;

    @media screen and(min-width:768px) {
      align-items: start;
    }
  }
  &__logo-wrapper {
    display: block;
    height: 50px;
    width: 96px;
    margin-bottom: 16px;
  }

  .logo {
    width: 96px;
    max-height: 100%;
    height: auto;
    object-fit: 100% auto;
  }

  &__title {
    max-width: 224px;
    font-family: 'Caveat Brush', sans-serif;
    margin-bottom: 8px;
    @include FontWSL(400, 30px, cal(38 /30));
    color: var(--primary-text-color);
    text-align: start;
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    @include FontWSL(500, 16px, cal(19.5 /16));
    color: var(--primary-text-color);
  }

  .register-btn {
    width: 145px;
    height: 40px;
    background-color: var(--buttom-bcg-color);
    color: var(--white-color);
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: Caveat Brush, sans-serif;
    @include FontWSL(400, 18px, cal(22.68 /18));
    margin-bottom: 40px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
  }
}
