.registration {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    max-width: 768px;
    max-height: 100%;

    .registration__main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .registration-mobile {
      display: none;
    }

    background-image: url(../images/registration/img-2_md.png);
    background-position: top 90px right 0px;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/img-2_md@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-bottom: 180px;
    background-image: url(../images/registration/img-2_lg.png);
    background-repeat: no-repeat;
    background-position: bottom -105px right -38.74px;
    padding-bottom: 180px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/img-2_lg@2x.png);
    }
  }
}

.registration__main {
  display: none;

  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;

    @media screen and (min-width: 768px) {
      background-image: url(../images/registration/img-1_md.png);
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      left: -15px;
      top: -5px;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/registration/img-1_md@2x.png);
      }

      @keyframes donatanim {
        100% {
          transform: translateX(650px) rotate(360deg);
        }
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/registration/img-1_lg.png);
      background-repeat: no-repeat;
      width: 255px;
      height: 255px;
      left: 85px;
      top: 0px;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/registration/img-1_lg@2x.png);
      }

      @keyframes donatanim {
        100% {
          transform: translateX(850px) rotate(360deg);
        }
      }
    }

    animation-name: donatanim;
    animation-duration: 10000ms;
    animation-timing-function: ease-in-out;
    transition-delay: 10000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    // @keyframes donatanim {
    //   100% {
    //     transform: translateX(850px) rotate(360deg);
    //   }
    // }
  }
}

.registration_heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(65 / 36);
  text-align: center;
  color: #2e2520;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.registration_content {
  display: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 104px;

  background: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px;

  @media screen and (min-width: 768px) {
    max-width: 704px;
    padding: 40px 0px;
    max-height: 234px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 822px;
    max-height: 246px;
  }
}

.registration_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: right;
  color: #2e2520;
}

.registration_block {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  margin-left: 32px;

  border-left: 1px solid rgba(171, 129, 108, 0.5);
}

.registration_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}

.registration_form {
  display: flex;
  flex-direction: row;
}

.registration-mobile__form--list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  @media screen and (min-width: 1280px) {
    gap: 14px;
  }
}

.registration_input {
  width: 238px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);

  border: none;
  border-bottom: 1px solid #ab816c;
  outline: transparent;

  &::-moz-placeholder {
    color: rgba(171, 129, 108, 0.5);
    outline: transparent;
  }

  &:-ms-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
  }

  &::-webkit-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
  }

  &:not(:placeholder-shown):required:valid {
    border-bottom: 1px solid rgb(32, 247, 47);
  }

  &:not(:placeholder-shown):required:invalid {
    border-bottom: 1px solid #ed6d64;
  }
}

.registration_btn {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
  padding: 8px 45px;
  background: #ab816c;
  border-radius: 25px;
  border: 0;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(23 / 18);
    width: 145px;
    height: 40px;
    margin-left: 54px;
  }

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: calc(30 / 24);
    margin-left: 28px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.registration-mobile {
  max-height: 436px;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8px;

  background: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;

  @media screen and (min-width: 768px) {
    max-width: 704px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 822px;
  }

  &__heading {
    margin-bottom: 20px;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: calc(30 / 24);
    text-align: center;
    color: #2e2520;
  }

  &__text {
    margin-bottom: 32px;

    min-width: 114px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: #2e2520;
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 8px;

    border-top: 1px solid rgba(171, 129, 108, 0.5);
  }

  &__title {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);

    margin-bottom: 20px;
    margin-top: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  &__input {
    width: 264px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);

    border: none;
    border-bottom: 1px solid #ab816c;
    outline: transparent;

    &::-moz-placeholder {
      color: rgba(171, 129, 108, 0.5);
      outline: transparent;
    }

    &:-ms-input-placeholder {
      color: rgba(171, 129, 108, 0.5);
    }

    &::-webkit-input-placeholder {
      color: rgba(171, 129, 108, 0.5);
    }
  }

  &__btn {
    max-width: 145px;
    max-height: 40px;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(23 / 18);
    text-align: center;
    margin-top: 16px;

    color: #ffffff;
    padding: 8px 45px;
    background: #ab816c;
    border-radius: 25px;
    border: 0;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
}
