.reviews {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 32px;
}

.reviews__title {
  font-family: 'Caveat Brush';

  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;

  color: var(--primary-text-color);
}

.hidden {
  display: none;
}

.reviews__icon--down {
  justify-content: center;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  fill: var(--buttom-bcg-color);
}

.reviews__name {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0px;

  color: var(--primary-text-color);
}

.reviews__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  max-width: 280px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-text-color);
}

.reviews__text--hidden {
  display: none;
}

.img-wills {
  width: 280px;
  height: auto;
}

.slick-current .img-wills {
  width: 280px;
  height: auto;
}

.reviews__slider.slick-current.slick-active {
  margin-left: 42px;
  margin-right: 42px;
}

.reviews__slider.slick-slide {
  margin-left: 42px;
  margin-right: 42px;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;

  color: var(--buttom-bcg-color);
}

.pagination::before {
  content: '';

  border: 1px solid var(--buttom-bcg-color);
  width: 35px;
  margin-right: 12px;
  top: 47%;
  left: 35%;
  position: absolute;
}
.pagination::after {
  content: '';

  position: absolute;
  margin-left: 12px;
  border: 1px solid var(--buttom-bcg-color);
  width: 35px;
  top: 47%;
  right: 35%;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;

  &::after,
  &::before {
    content: '';
    width: 35px;
    height: 1px;
    background-color: #ab816c;
  }
}

.slick-dots > li > button {
  background-color: transparent;
  border: none;
  line-height: calc(20 / 16);
  color: #ab816c;

  &::after {
    content: '/4';
  }
}
.slick-dots > li {
  display: none;

  &.slick-active {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .reviews .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .reviews {
    max-width: 768px;
    padding-bottom: 40px;
  }

  .reviews__title {
    margin-bottom: 7px;
  }

  .hidden {
    display: block;
  }

  .reviews__container {
    width: 703px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__slider {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
  }

  .reviews__name {
    margin-bottom: 0px;
  }

  .reviews__text {
    max-width: 704px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .reviews__icon--down {
    fill: var(--buttom-bcg-color);
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  .pagination::after {
    content: '';
    top: 47%;
    right: 42%;
  }
  .pagination::before {
    top: 47%;
    left: 42%;
  }
  .img-wills {
    width: 152px;
  }

  .slick-current .img-wills {
    width: 336px;
    margin-top: 76px;
  }

  .reviews__slider.slick-slide {
    margin-right: 16px;
    margin-left: 16px;
  }
  .reviews__slider.slick-current.slick-active {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    max-width: 1280px;
    padding-bottom: 60px;
  }

  .reviews__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 85px;
  }
  .reviews__container {
    width: 1062px;
    min-height: 597px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__text {
    max-width: 1248px;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .reviews__slider {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
  }

  .pagination::before {
    top: 47%;
    left: 45%;
  }

  .pagination::after {
    top: 47%;
    right: 45%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 0px;

    &::after,
    &::before {
      content: '';
      width: 35px;
      height: 1px;
      background-color: #ab816c;
    }
  }

  .img-wills {
    width: 285px;
  }

  .slick-current .img-wills {
    width: 394px;
    margin-top: 146px;
    transition: 955ms;
  }

  .slick-dots > li > button {
    background-color: transparent;
    border: none;
    line-height: calc(20 / 16);
    color: #ab816c;

    &::after {
      content: '/4';
    }
  }
  .slick-dots > li {
    display: none;

    &.slick-active {
      display: contents;
    }
  }

  .reviews__slider.slick-slide {
    width: 285px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .reviews__slider.slick-current.slick-active {
    width: 394px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
